{% extends "site_base.html" %}
{% load static %}



{% block hedaertext %}



{% endblock %}




{% block section %}

      
   
      <p>I've chosen to catalogue my favourite music as a basis for this website, I've chosen
      this topic as I used to be a musician, and because I love music. I think basing the design around music
      also allows for some creavtivity. </p>

      <p> you can see the list of my favourite artists by going to "artists" in the
      navigation menu.</P>       




{% endblock %}

